<div class="box analyzer">
  <h1>Party Hunt - Loot Analyzer</h1>

  <div class="analyzer-example">
    <img
      src="../../../assets/images/analyser-example.png"
      alt="Imagem mostrando um exemplo de como utilizar o analyzer" />
  </div>

  <textarea
    placeholder="Paste party hunt session log here..."
    #data
    (input)="handleChangeInput(data.value)"></textarea>

  <ng-container *ngIf="huntData">
    <div class="payments">
      <div
        class="payment"
        *ngFor="let transaction of huntData.transactions; index as i">
        <p>
          {{ transaction.from }} to pay
          <img
            src="../../../assets/images/gold-coin.png"
            alt="Imagem de um Gold Coin" />
          {{ transaction.amount | formatNumberWithCommas }} to
          {{ transaction.to }}
        </p>
        <button (click)="copyTransferToClipboard(transaction)">
          Copy Transfer
        </button>
      </div>
    </div>

    <div class="total-stats">
      <p>
        Total {{ huntData.teamReceipt.balance > 0 ? 'profit' : 'waste' }}:
        <span
          class="{{ huntData.teamReceipt.balance > 0 ? 'profit' : 'waste' }}"
          >{{ huntData.teamReceipt.balance | formatNumberWithCommas }}</span
        >
        which is:
        <span
          class="{{
            huntData.teamReceipt.balance / huntData.players.length > 0
              ? 'profit'
              : 'waste'
          }}"
          >{{
            huntData.teamReceipt.balance / huntData.players.length
              | formatNumberWithCommas
          }}</span
        >
        for each player.
      </p>
    </div>
  </ng-container>
</div>
