<div class="box analyzer">
  <h1>Party Hunt - Loot Analyzer</h1>

  <div class="analyzer-example">
    <img
      src="../../../assets/images/analyser-example.png"
      alt="Imagem mostrando um exemplo de como utilizar o analyzer" />
  </div>

  <textarea
    placeholder="Paste party hunt session log here..."
    #data
    (input)="handleChangeInput(data.value)"></textarea>

  <ng-container *ngIf="huntData">
    <div class="payments">
      <div class="payment" *ngFor="let transaction of huntData.transactions">
        <p>
          {{ transaction.from }} to pay
          <img
            src="../../../assets/images/gold-coin.png"
            alt="Imagem de um Gold Coin" />
          {{ transaction.amount | formatNumberWithCommas }} to
          {{ transaction.to }}
        </p>

        <div class="buttons">
          <button
            class="remove-player"
            (click)="handleRemovePlayer(transaction.to)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>

          <button
            (click)="copyTransferToClipboard(transaction)"
            class="copy-transfer">
            Copy Transfer
          </button>
        </div>
      </div>

      <div class="payment" *ngFor="let removedPlayer of removedPlayers">
        <p class="line-through">
          {{ removedPlayer }}
        </p>

        <div class="buttons">
          <button class="add-player" (click)="handleAddPlayer(removedPlayer)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>

          <button class="copy-transfer" disabled>Copy Transfer</button>
        </div>
      </div>
    </div>

    <div class="total-stats">
      <p>
        Total {{ huntData.teamReceipt.balance > 0 ? 'profit' : 'waste' }}:
        <span
          class="{{ huntData.teamReceipt.balance > 0 ? 'profit' : 'waste' }}"
          >{{ huntData.teamReceipt.balance | formatNumberWithCommas }}</span
        >
        which is:
        <span
          class="{{
            huntData.teamReceipt.balance / huntData.players.length > 0
              ? 'profit'
              : 'waste'
          }}"
          >{{
            huntData.teamReceipt.balance / huntData.players.length
              | formatNumberWithCommas
          }}</span
        >
        for each player.
      </p>
    </div>
  </ng-container>
</div>
