.app {
  display: flex;
  flex-direction: row;
  align-items: self-start;

  max-width: 130rem;
  margin: 0 auto;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
  }
}

footer {
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }
}
