* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 30rem;
}

body {
  color: #d3d3d3;
  background: url('assets/images/background.webp');

  font-family: 'Verdana', sans-serif;
  font-size: 1.6rem;

  min-width: 380px;
}

input {
  width: 100%;
  color: white;
  background: url('assets/images/background-dark.webp');
  border: 0.1rem inset #767676;
  border-color: #2d2d2d #767676 #767676 #2d2d2d;
  outline: none;
  padding: 0.5rem;
  font-family: monospace;
}

textarea {
  background: url('assets/images/background-dark.webp');
  border: 0.1rem inset #767676;
  border-color: #2d2d2d #767676 #767676 #2d2d2d;

  outline: none;

  color: white;
  font-family: monospace;

  padding: 0.5rem;
  height: 2.7rem;

  resize: none;
}

button {
  color: #d3d3d3;
  border: 0.1rem solid;
  border-image: url('assets/images/button.webp') 1 fill;
  font-family: monospace;
  padding: 0.4rem;
}

button:active,
.pressed {
  border-image: url('assets/images/button-pressed.webp') 1 fill;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #444445;
}

::-webkit-scrollbar-thumb {
  background-color: #252424;
  border-radius: 4px;
}

.box {
  border-style: solid;
  border-width: 1.8rem 0.4rem 0.4rem;
  border-image: url('./assets/images/widget-border.webp') 15 4 4 repeat;

  position: relative;

  > h1 {
    position: absolute;
    top: -1.6rem;
    font-size: 1.1rem;
    pointer-events: none;
    left: 0.2rem;
    white-space: nowrap;
    font-weight: bold;
  }
}
