<div class="box items-list">
  <h1>Blessings Price Calculator</h1>

  <div class="inputs">
    <div class="input">
      <input
        type="text"
        name="character_name"
        id="character_name"
        placeholder="Character Name"
        #inputCharacterName
        (input)="handleChangeCharacterName(inputCharacterName.value)" />

      <div class="icon-container" *ngIf="loadingCharacter">
        <i class="loader"></i>
      </div>
    </div>

    <div class="input">
      <input
        type="number"
        name="character_level"
        id="character_level"
        placeholder="Level"
        min="1"
        max="4000"
        #inputLevel
        value="{{ level }}"
        (input)="handleChangeLevel(inputLevel.value)" />
    </div>
  </div>

  <ul class="blessings" *ngIf="level">
    <li *ngFor="let blessing of blessings; index as i">
      <div class="blessing">
        <button
          [class.pressed]="blessing.selected"
          (click)="handleToggleSelectedBlessing(blessing)">
          <h1>{{ blessing.name }}</h1>
          <img
            src="../../../assets/images/blessings/{{
              blessing.name.replaceAll(' ', '_')
            }}.gif"
            alt="Imagem da blessing {{ blessing.name }}" />
        </button>

        <span [class.disabled]="!blessing.selected">
          Price: {{ getBlessingCost(blessing) | formatNumberWithCommas }}

          <img
            src="../../../assets/images/gold-coin.png"
            alt="Imagem de um Gold Coin" />
        </span>
      </div>
    </li>
  </ul>

  <div class="npc" *ngIf="level">
    <button
      [class.pressed]="buyingFromHenricus"
      (click)="handleToggleBuyingFromHenricus()">
      <h1>NPC Inquisition</h1>
      <img
        src="../../../assets/images/npcs/Henricus.gif"
        alt="Imagem do NPC da Inquisition Quest" />
    </button>

    <div class="prices">
      <h1 *ngIf="buyingFromHenricus">Total price buying from NPC Henricus:</h1>
      <h1 *ngIf="!buyingFromHenricus">Total price buying from each NPC:</h1>
      <div class="price">
        <img
          src="../../../assets/images/gold-coin.png"
          alt="Imagem de um Gold Coin" />
        <span>{{ totalPrice | formatNumberWithCommas }}</span>
      </div>
    </div>
  </div>
</div>
